<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>index</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- TODO 请在content中设置spmA位   -->
  <meta name="data-spm" data-spm-protocol="i" content="<{%=logPrefix%}>" />
  <meta name="aplus-ajax" content="chksum">
  <meta name="aplus-wating" content="1">
  <!-- 侧边栏以及顶部登录框样式 -->
    <link rel="stylesheet" type="text/css" href="//g.alicdn.com/blue/libs/css/layout.css">
    <!-- 组件样式 -->
    <link rel="stylesheet" type="text/css" href="//g.alicdn.com/blue/open/1.2.0/blue.css">
    <!-- 正式环境中,请将下述相对地址链接 替换为您的线上地址 -->
  <link rel="stylesheet" href="/build/pages/router/index.bundle.css">
</head>
<body data-spm="<{%=appKey%}>">
<input type="hidden" name="cur_menu_id" value="1">
    <!-- 选中菜单也可以使用js设置 -->
    <div class="page-layout">
        <div id="header" class="header-container"></div>
        <div class="aside-container" id="aside"></div>
        <div class="main-container" id="container">
            <div class="c-loading">
                <p class="loading-text">页面加载中...</p>
                <img src="//img.alicdn.com/tps/TB1AqAfKVXXXXcnXFXXXXXXXXXX-80-160.gif"/>
            </div>
        </div>
    </div>
    <script>
        window.INIT_DATA = {
          'breadcrumb':[
              {
                  'name':'第一个面包屑',
                  'link':'www.taobao.com'
              },
              {
                  'name':'第二个面包屑',
                  'link':'www.taobao.com'
              },
              {
                  'name':'当前页',
                  'link':''
              }
          ],
          'getToken': ''
      }
    </script>
    <script src="//g.alicdn.com/retcode/log/log.js" crossorigin></script>
    <script type="text/javascript" src="//g.alicdn.com/blue/libs/layout.js" crossorigin></script>
    <script src="//g.alicdn.com/blue/libs/??polyfill.min.js,react-with-addons.min.js,react-dom.min.js,redux.min.js,react-redux.min.js,ReactRouter.min.js,ReactRouterRedux.min.js,redux-thunk.min.js" crossorigin></script>
    <!-- blue.js && lib引入 -->
    <script src="//g.alicdn.com/blue/??open/1.2.0/blue.js,lib-apimap/1.1.1/index.js" crossorigin></script>
    <!-- 正式环境中,请将下述相对地址链接 替换为您的线上地址 -->
    <script type="text/javascript" src="/build/pages/router/index.js" crossorigin></script>
</body>
</html>
