{
    plugins: [
        "add-module-exports",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals",
        "transform-es2015-classes",
        "transform-proto-to-assign",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}